# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Environment variables
.env
.env.*
env/*
env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Requirements
requirements.txt

# Migrations (Django/Flask)

*/__pycache__/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

.dockerignore
Dockerfile

/models.py
/serializers.py
/urls.py
/views.py

**/__pycache__/**
**/__pycache__
__pycache__


*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/
*.egg
