<!-- Main Content -->
<main
  class="flex-grow flex items-center justify-center relative px-4 py-40 sm:px-8 md:h-[91vh]"
>
  <!-- Background Circles -->

  <!-- Text and Buttons -->
  <div class="text-center z-10 max-w-xl w-full">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-4 text-black">
      Join the Nature Photography Movement
    </h1>
    <p class="text-base sm:text-lg text-gray-400 mb-6">
      Upload your best shots, follow inspiring photographers, and curate your
      nature gallery. Whether you're a beginner or a pro, your journey starts
      here.
    </p>
    <!--
    <div
      class="flex flex-col sm:flex-row justify-center items-center sm:space-x-4 space-y-3 sm:space-y-0"
    >
      <a
        href="#"
        class="bg-blue-600 text-white px-6 py-3 rounded-md hover:bg-blue-700 flex items-center justify-center space-x-2 w-full sm:w-auto"
      >
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        <span>Get Pro</span>
      </a>
      <a
        href="#"
        class="bg-gray-800 text-white px-6 py-3 rounded-md hover:bg-gray-700 w-full sm:w-auto text-center"
        >Star on GitHub</a
      >
    </div>
    -->
  </div>
  
</main>
<div class="w-full ">
  <app-explore></app-explore>
</div>
