<div class="flex-1 max-w-8xl mx-2 relative">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="relative">
      <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
        <svg
          class="h-5 w-5 text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>

      <input
        type="search"
        formControlName="searchTerm"
        placeholder="Search anything..."
        class="w-full pl-12 pr-4 py-2 sm:py-3 bg-gray-50 border border-gray-200 rounded-xl sm:rounded-2xl focus:outline-none focus:ring-2 focus:ring-blue-500/50 focus:border-transparent text-sm sm:text-base transition-all duration-300 hover:bg-white"
      />
    </div>
  </form>
</div>
