<div
  class="md:py-8 py-6 min-h-screen scroll-smooth overflow-auto custom-scrollbar scrollbar-hide"
>
  <!-- Masonry Grid -->
  <div class="masonry columns-2 sm:columns-2 md:columns-3 lg:columns-5 gap-6 px-4" infiniteScroll>
    <!-- Photo Card Loop -->
    <div
      #card
      *ngFor="let img of savedPhotosDetails$"
      class="break-inside-avoid shadow-sm overflow-hidden mb-5 transition-all duration-300 cursor-pointer group rounded-2xl hover:shadow-2xl hover:-translate-y-1 hover:scale-[1.02]"
    >
      <!-- Image Container -->
      <div class="overflow-hidden rounded-2xl relative">
        
        <!-- Debug URL -->
        {{ img.image | json }}

        <!-- Shimmer Placeholder -->
        <ngx-shimmer-loading
          *ngIf="!img.isLoaded"
          class="w-full h-48 rounded shimmer-effect"
        ></ngx-shimmer-loading>

        <!-- Image -->
        <img
          [src]="img.photo.image"
          loading="lazy"
          (load)="onImageLoad($event, img)"
          (error)="onImageError(img.photo)"
          (click)="photosDetails(img.photo)"
          alt="Uploaded Image"
          class="w-full h-auto rounded-2xl group-hover:brightness-110 transition-all duration-300"
          [ngClass]="{
            'opacity-0': !img.isLoaded,
            'opacity-100': img.isLoaded
          }"
        />

        <!-- Remove Button -->
        <div
          (click)="removeSavePhoto(img.photo.id)"
          class="absolute top-3 right-3 z-30 inline-block group/menu"
        >
          <button
                (click)="removeSavePhoto(img.id)"
                class="group/btn relative bg-blue-500 rounded-full p-2.5 shadow-lg hover:shadow-xl hover:bg-blue-600 transition-all duration-300 transform hover:scale-110 active:scale-95"
                [attr.aria-label]="'Remove saved image'"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M6 4C6 3.44772 6.44772 3 7 3H17C17.5523 3 18 3.44772 18 4V20C18 20.3623 17.8037 20.6921 17.5 20.8661C17.1963 21.0402 16.8204 21.0282 16.5257 20.8333L12 17.882L7.47429 20.8333C7.17963 21.0282 6.80372 21.0402 6.5 20.8661C6.19628 20.6921 6 20.3623 6 20V4Z"
                    fill="white"
                  />
                </svg>
              </button>
        </div>
      </div>
    </div>
    <!-- End Photo Card -->
  </div>
</div>
